############ Project specific rules ###############

/composer.lock
/coverage
/tests/testlogs
/.phpunit.result.cache
/.phpunit.cache
/code-coverage
/clover.xml

################# Global rules ####################
## Never ignore .gitignore
!.gitignore

## Dependencies
/node_modules
/bower_components
/vendor
/local.yml
.vagrant
*.swp
*.swo

## Sass
.sass-cache

## IDE project files
/.idea
/.viminfo
/.buildpath
/.settings
/.project
/.cache
/build
/nbbuild
/nbdist
/nbproject/private
/.vscode

## OS specific files
.DS_Store
.DS_Store?
Thumbs.db
.log
.sass-cache/
.codekit-config.json
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.swp

## Zipped files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Always Version .keep and .gitkeep files
!.keep
!.gitkeep
